<h2>Show the post</h2>
<h3><%= @post.title %></h3>
<p><%= @post.body %></p>
<hr>
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-outline-warning' %>
<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'do you want to delete the post?'}, :class => 'btn btn-outline-danger' %>
<hr>

<h2>All comments</h2>
<% @post.comments.each do |comment| %>
  <div class="aler alert-light">
    <p><strong><%= comment.user_name %>: <%= comment.body %></strong></p>
  </div>
<% end %>

<hr>
<h2>Add comment</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    User<br>
    <%= f.text_field(:user_name, {:class => 'form-control'}) %>
  </p>
  <p>
    Comment<br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit('Add comment', {:class => 'btn btn-outline-success'}) %>
  </p>
<%end %>